<header class="header container">
  <div class="header-inner">
    <a routerLink="/" class="logo-link">
      <img src="assets/pic/Logo_3c.png" alt="SeoulSpeak Logo" class="logo" />
    </a>

    <nav class="nav d-none d-md-flex">
      <a routerLink="/hangul">Hangul</a>
      <a routerLink="/grammar">Grammar</a>
      <a routerLink="/vocab">Vocabulary</a>
      <a routerLink="/levels">Learn</a>
    </nav>

    <div class="mobile-menu-wrapper" 
        (mouseenter)="onHover(true)" 
        (mouseleave)="onHover(false)">
      <nav class="nav-mobile" [class.active]="menuOpen">
        <a routerLink="/hangul"><span class="hangul-icon">한</span> Hangul</a>
        <a routerLink="/grammar"><i class="bi bi-book"></i> Grammar</a>
        <a routerLink="/vocab"><i class="bi bi-journal-text"></i> Vocabulary</a>
        <a routerLink="/levels"><i class="bi bi-mortarboard"></i> Learn</a>
      </nav>
    </div>

    <div class="actions">
      <span *ngIf="loggedIn()" class="username-display">Hi {{ user().username }}</span>

      <a *ngIf="!loggedIn()" routerLink="/login" class="btn login-icon" aria-label="Login">
        <i class="bi bi-person-circle"></i>
      </a>
      
      <button *ngIf="loggedIn()" class="btn logout-icon" aria-label="Logout" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="bi bi-box-arrow-right" title="Logout"></i>
      </button>

      <button class="burger d-md-none" (click)="toggleMenu()" [class.open]="menuOpen">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>

  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Log Out</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="logout()">Yes, log ou</button>
          <button type="button"  id="cancelLogoutBtn" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
