<main class="d-flex min-vh-100">
    <fieldset class="container mt-5">
      @if(vocab){
        <legend class="mb-4">Eintrag von {{ vocab.korean }} aktualisieren</legend>
      } @else {
        <legend class="mb-4">Eintrag aktualisieren</legend>
      }
        <form [formGroup]="form" (ngSubmit)="update()">
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="korean">Koreanisch</label>
            <div class="col-10">
                <input type="text" class="form-control" id="korean" placeholder="Koreanisch" formControlName="koreanControll" />
            </div>
            </div>
    
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="pronunciation">Aussprache</label>
            <div class="col-10">
                <input type="text" class="form-control" id="pronunciation" placeholder="Aussprache" formControlName="pronunciationControll" />
            </div>
            </div>
    
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="english">Englisch</label>
            <div class="col-10">
                <input type="text" class="form-control" id="english" placeholder="Englisch" formControlName="englishControll" />
            </div>
            </div>
    
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="example">Beispiel</label>
            <div class="col-10">
                <input type="text" class="form-control" id="example" placeholder="Beispiel" formControlName="exampleControll" />
            </div>
            </div>
    
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="meaning">Bedeutung</label>
            <div class="col-10">
                <input type="text" class="form-control" id="meaning" placeholder="Bedeutung" formControlName="meaningControll" />
            </div>
            </div>
    
            <div class="mb-3 row">
            <label class="col-2 col-form-label" for="difficulty">Schwierigkeitsgrad</label>
            <div class="col-10">
                <input type="number" class="form-control" id="difficulty" placeholder="Schwierigkeitsgrad" formControlName="difficultyControll" />
            </div>
            </div>
    
            <div class="row gx-0 mt-5">
            <button type="submit" class="col-5 btn btn-secondary">Aktualisieren</button>
            <div class="col-2"></div>
            <button type="button" class="col-5 btn btn-secondary" (click)="cancel()">Abbrechen</button>
            </div>
        </form>
    </fieldset>
</main>