<div class="container-fluid">        
    <h1>
        @if(vocab){
          Update Entry for {{ vocab.korean }}
        } @else {
          Update Entry
        }
    </h1>

    <div class="container section-padding">

        <form [formGroup]="form" (ngSubmit)="update()">

            <div class="mb-3">
            <label for="korean" class="form-label">Korean</label>
            <input type="text" id="korean" class="form-control" placeholder="Korean" formControlName="koreanControl" />
            </div>

            <div class="mb-3">
            <label for="pronunciation" class="form-label">Pronunciation</label>
            <input type="text" id="pronunciation" class="form-control" placeholder="Pronunciation" formControlName="pronunciationControl" />
            </div>

            <div class="mb-3">
            <label for="english" class="form-label">English</label>
            <input type="text" id="english" class="form-control" placeholder="English" formControlName="englishControl" />
            </div>

            <div class="mb-3">
            <label for="example" class="form-label">Example</label>
            <input type="text" id="example" class="form-control" placeholder="Example" formControlName="exampleControl" />
            </div>

            <div class="mb-3">
            <label for="meaning" class="form-label">Meaning</label>
            <input type="text" id="meaning" class="form-control" placeholder="Meaning" formControlName="meaningControl" />
            </div>

            <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulty</label>
            <input type="number" id="difficulty" class="form-control" placeholder="Difficulty Level (1–5)" formControlName="difficultyControl" />
            </div>

            <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary col-5">
                Update
            </button>
            <button type="button" class="btn btn-secondary col-5" (click)="cancel()">
                Cancel
            </button>
            </div>
        </form>
    </div>
</div>
