.navbar {
  background-color: #511462; 
  padding: 15px 0;
}
  
.navbar-brand, .nav-link {
  color: white !important; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
}
  
.nav-link:hover, .navbar-brand:hover {
  color: #9c67ab !important; 
  text-decoration: none;
}
.navbar-toggler {
  background-color: white; 
}