<h1>Vokabelliste</h1>

<table mat-tabel>
  <head>
   <tr>
    <th>Id</th>
    <th>German</th>
    <th>Korean</th>
    <th>Pronunciation</th>
    <th>German example</th>
    <th>Korean example</th>
    <th>Pronunciation of the Korean example</th>
   </tr> 
  </head>
  <tbody>
    @for(vokabel of vokabeln; track vokabel.id){
      <tr>
        <td>{{vokabel.id}}</td>
        <td>{{vokabel.german}}</td>
        <td>{{vokabel.korean}}</td>
        <td>{{vokabel.pronunciation}}</td>
        <td>{{vokabel.eg_german}}</td>
        <td>{{vokabel.eg_korean}}</td>
        <td>{{vokabel.eg_pronunciation}}</td>
      </tr>
    }
  </tbody>
</table>