<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language Level</title>
</head>

<body>
    <header>
        <h2>Choose your Language Level</h2>
    </header>
    <main>
        <section class="wrapper">
            <a [routerLink]="['/lessons', 'A1']" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-7.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>A1<br />(Beginner)</p>
                </div>
            </a>

            <a href="/lessons" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-6.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>A2<br />(Elementary)</p>
                </div>
            </a>

            <a href="/lessons" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-4.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>B1<br />(Intermediate)</p>
                </div>
            </a>

            <a href="/lessons" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-3.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>B2<br />(Upper Intermediate)</p>
                </div>
            </a>

            <a href="/lessons" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-2.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>C1<br />(Advanced)</p>
                </div>
            </a>

            <a href="/lessons" class="levelcard">
                <div class="levelimage">
                    <img src="../../../assets/pic/SK-10.png" alt="King Sejong" />
                </div>
                <div class="level">
                    <p>C2<br />(Proficient)</p>
                </div>
            </a>
        </section>
    </main>
</body>

</html>
