<div class="login-wrapper">
  <div class="login-card">
    <div class="login-image">
      <img src="assets/pic/Login4.jpg" alt="Login Illustration" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="login-form">
      <h2 class="text-center mb-4">Login</h2>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input
            id="username"
            type="text"
            class="form-control"
            placeholder="Nutzername"
            formControlName="username"
          />
        </div>
        <div class="text-danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
          Username is required
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          <input
            [type]="hide ? 'password' : 'text'"
            id="password"
            class="form-control"
            placeholder="Passwort"
            formControlName="password"
          />
          <button class="btn btn-outline-secondary" type="button" (click)="hide = !hide">
            <i class="bi" [ngClass]="hide ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
        <div class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
          Password is required
        </div>
      </div>

      <div class="text-danger text-center mb-3" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="text-center mt-3">
         Don't have an account yet?
        <a routerLink="/register" class="register-link">Register</a>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="!valid()">Login</button>
    </form>
  </div>
</div>
