.container-fluid {
    padding: 20px;
    background-color: #f4e7f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #511462;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table th {
    background-color: #511462;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .table td,
  .table th {
    padding: 12px;
    vertical-align: middle;
    white-space: nowrap;       
    overflow: hidden;         
    max-width: 150px;         
  }

  table td {
    text-overflow: ellipsis; 
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1; 
  }
  
  .bi-pencil-square {
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .bi-trash {
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .bi-trash:hover {
    color: #ff0000;
  }
  
  .bi-pencil-square:hover {
    color: #700b97;
  }
  
  .table caption {
    caption-side: top;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #511462; 
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.btn-primary:hover {
    background-color: #700b97; 
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
  background-color: transparent;
}

.table thead th {
  background-color: #511462;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}

.table tbody tr {
  background-color: #fefdfe;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.table tbody tr:hover {
  transform: scale(1.01);
}

.table td {
  padding: 12px;
  vertical-align: middle;
  border-top: none;
}

.table td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bi-pencil-square, .bi-trash {
  transition: color 0.2s ease;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable-row:hover {
  background-color: #e8d9e3;
}