<div class="container mt-4">
  <h2>Nutzerliste</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th (click)="sortBy('username')" style="cursor: pointer">
          Nutzername
          <span *ngIf="sortKey === 'username'">
            {{ sortAsc ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('email')" style="cursor: pointer">
          E-Mail
          <span *ngIf="sortKey === 'email'">
            {{ sortAsc ? '▲' : '▼' }}
          </span>
        </th>
        <th (click)="sortBy('role')" style="cursor: pointer">
          Rolle
          <span *ngIf="sortKey === 'role'">
            {{ sortAsc ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of displayedUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav *ngIf="totalPages > 1">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)">
          Zurück
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
      >
        <button class="page-link" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)">
          Weiter
        </button>
      </li>
    </ul>
  </nav>
</div>
