body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f4e7f0);
  color: #333;
  margin: 0;
}

.main-content {
  background: linear-gradient(to bottom, #ffffff, #f4e7f0);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow:
    rgba(30, 30, 53, 0.05) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.08) 0px 3px 7px -3px;
}

.container-fluid {
  padding: 20px;
}

h1 {
  color: #511462;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  margin-top: 10px;
}

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
  gap: 1.5rem;
}

.lesson-card {
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(81, 20, 98, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lesson-card:hover {
  box-shadow: 0 10px 32px rgba(81, 20, 98, 0.15);
  transform: scale(1.04);
}

.card-img {
  background-color: #f9f4f8;
  height: 220px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: transparent;
}

.card-img img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-label {
  padding: 1rem;
  background: linear-gradient(to right, #511462, #ba8ac7);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0 0 1.5rem 1.5rem; 
}

.title-ko {
  font-style: italic;
  font-size: 0.7rem;
  color: #e0e0e0;
  margin-top: 4px;
}
