<body>
  <div *ngIf="lessons.length > 0">
    <header>
      <h2>{{ levelKey }} Lessons</h2>
    </header>
    <main>
      <section class="wrapper">
        <a class="lessonCard" *ngFor="let lesson of lessons; let i = index" [routerLink]="['/lessons', levelKey, i+1]">
          <div class="lessonTop">
            <p>Lesson {{ i + 1 }}</p>
          </div>
          <div class="lesson-image">
            <img [src]="lesson.title_pic" alt="TitelPicture" class="lesson-image" />
          </div>
          <div class="lesson">
            <p class="title-en">{{ getTitleEn(lesson.title) }}</p>
            <p class="title-ko" *ngIf="lesson.title.includes('|||')">{{ getTitleKo(lesson.title) }}</p>
          </div>
        </a>
      </section>
    </main>
  </div>
</body>