<footer class="modern-footer">
  <div class="footer-top">
    <div class="footer-column logo-column">
      <img src="../../../assets/pic/Logo_4.png" alt="SeoulSpeak Logo" />
      <p>©SeoulSpeak <br />Projekt im Studiengang FIW an der HTW Berlin</p>
    </div>

    <div class="footer-column links-column">
      <h4>Links</h4>
      <ul>
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Datenschutz</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </div>



    <div class="footer-column social-column">
      <h4>Folge mir</h4>
      <div class="social-icons">
        <a href="https://github.com/Piriyangah" target="_blank" aria-label="GitHub">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/piriyangah-muthurasa-998474274/" target="_blank" aria-label="LinkedIn">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>

    <div class="footer-column credits-column">
      <h4>Technik</h4>
      <p>Made with ❤️ by Piriyangah Muthurasa</p>
      <p>Built with Angular, Bootstrap & Node.js</p>
      <p>
        Backend via <a href="https://dashboard.render.com/web/srv-d1iie1ur433s73amid40/logs" target="_blank">Render</a><br />
        Frontend via <a href="https://vercel.com/new/import?framework=other&hasTrialAvailable=1&project-name=seoul-speak&remainingProjects=1&s=https%3A%2F%2Fgithub.com%2FPiriyangah%2FSeoulSpeak&teamSlug=piriyangahs-projects&totalProjects=1&deploymentIds=dpl_3FZfm9JV8Vy282r8zZSFbXVK2GW7" target="_blank">Vercel</a>
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 SeoulSpeak – All rights reserved</p>
  </div>
</footer>
